## Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operators
- List
- Comparison Operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables
The boolean data type is either True or False. In Python, boolean variables are defined by the True and False keywords

Note the keywords True and False must have an Upper Case first letter. Using a lowercase true returns an error

In numerical content , when we use the argument to arithmatic operator, they behave like the integer 0 and 1. <br>
The built-In fucntion used is to casy any value to Boolean bool()

In [1]:
print(True, False)

True False

In [2]:
type(True)

bool

In [3]:
type(False)

bool

In [4]:
my_str='Ehtesham'

In [5]:
print(my_str.isalnum())   #Check if all char are numbers
print(my_str.isalpha())   #Check if all char are alphabetics
print(my_str.isdigit())   #Check if string contains digits
print(my_str.istitle())   #Check if string contains title words
print(my_str.isupper())   #Check if string contains upper case
print(my_str.islower())   #Check if string contains lower case
print(my_str.isspace())   #Check if string contains spaces
print(my_str.endswith('d'))   #test if string ends with d
print(my_str.startswith('H')) #test if string starts with H

True
True
False
True
False
False
False
False
False

### Boolean and Logical Operators

In [6]:
print(True and False)
print(False and True) 
print(True or False)
print(True or True)

False
False
True
True

In [7]:
str_1 ="Hello World"
str_2 = "Welcome Back"

In [8]:
str_1.isalnum() or str_2.isalpha()

False

In [9]:
str_1.isalnum() and str_2.isalpha()

False

### Lists

 A list is a data structure in Python that is mutable, changeable ordered sequence of elements. Each element or value that is inside the list is called an item. Just strings are defined as character between quotes, lists are defined by having values between square brackets [ ], list() Built-in function

In [10]:
type([])

list

In [11]:
lst_1 =list()

In [12]:
type(lst_1)

list

In [13]:
lst = ['Maths','Urdu',100,200]

In [14]:
type(lst)

list

### Append

In [15]:
#.append is used to add in list
lst.append('Arabic')

In [16]:
lst

['Maths', 'Urdu', 100, 200, 'Arabic']

In [17]:
# Slicing or index
lst[3]

200

In [18]:
lst[:]

['Maths', 'Urdu', 100, 200, 'Arabic']

In [19]:
lst.append(['John,Marry'])

In [20]:
lst

['Maths', 'Urdu', 100, 200, 'Arabic', ['John,Marry']]

### Insert

In [21]:
#Insert in a specific order
#lst.insert(index_order,Value need to be insert)

In [22]:
lst.insert(2,['Kite','Roger'])

In [23]:
lst

['Maths', 'Urdu', ['Kite', 'Roger'], 100, 200, 'Arabic', ['John,Marry']]

### Extend Method

In [24]:
lst = [1,2,3,4,5,6,7,8]

In [25]:
lst.extend([45,67,88,99])

In [26]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 45, 67, 88, 99]

### Various Operation can performed In list

In [27]:
print(lst)
sum(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 45, 67, 88, 99]

335

### Pop Method

In [28]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 45, 67, 88, 99]

In [29]:
lst.pop()

99

In [30]:
lst.pop(4)

5

In [31]:
lst

[1, 2, 3, 4, 6, 7, 8, 45, 67, 88]

### Count(), Calculate the total occurence of given element of list

In [32]:
lst

[1, 2, 3, 4, 6, 7, 8, 45, 67, 88]

In [33]:
lst.count(6)

1

In [34]:
#len(), total length of list

In [35]:
len(lst)

10

### index(value,start,stop), returns the index of first occurence, Start and end iindex are not parameters

In [36]:
lst

[1, 2, 3, 4, 6, 7, 8, 45, 67, 88]

In [37]:
lst.index(3,1,5)

2

In [38]:
#min & max

In [39]:
print(lst)
print(min(lst))
print(max(lst))

[1, 2, 3, 4, 6, 7, 8, 45, 67, 88]
1
88

### Sets

A set is an unordered collection data type that is iterable, mutable and has no duplicate elements. Python's set class represents the mathematical notion of a set, This is based on datastruture known as hash table.

In [58]:
#Defining an empty set

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [59]:
set_var = (1,2,3,4,5)
set_var

(1, 2, 3, 4, 5)

In [60]:
#Set does not represent indexing

In [62]:
# In-built function
set_var = {1,2,3,4,5}
set_var.add("Boi")

In [75]:
print(set_var)

{1, 2, 3, 4, 5, 'Boi'}

In [84]:
# Set Difference
set1 = {1,2,3,44,4,5}
set2 = {1,3,4,5,"Bboi"}
set1.difference(set2)

{2, 44}

### Dictionaries

A dictionary is a collection of unordered, changeable, and indexed. In python dictionaries are written with curly brackets,
and theyhave keys and values.

In [91]:
dic={}

In [92]:
type(dic)

dict

In [93]:
dict = {1,2,3,4,5}

In [94]:
type(dict)

set

In [100]:
#Create Dictionary
dic1 = {'Ali':'2000','Majid':"2300"}

In [101]:
dic1

{'Ali': '2000', 'Majid': '2300'}

In [117]:
#Access Items In Dict
dic1['Majid']

'2300'

In [118]:
#Try to apply for loop

for x in dic1:
    print(x)

Ali
Majid

In [120]:
#Try to apply for loop for (keys)

for x in dic1.values():
    print(x)

2000
2300

In [121]:
#check items in dic for keys and values

for x in dic1.items():
    print(x)

('Ali', '2000')
('Majid', '2300')

In [123]:
#Adding Items in Dictionary
dic1['vard']='4000'

In [126]:
for x in dic1:
    print(x)

Ali
Majid
vard

In [128]:
dic1['Ali']='Seiko' #Replace the values or key byt this technique

In [129]:
dic1

{'Ali': 'Seiko', 'Majid': '2300', 'vard': '4000'}

### Nested Dictionaries

In [133]:
car1_model = {"BMW":1893}
car2_model = {"Audi":2009}
car3_model = {'Ford':2022}

In [134]:
car_type = {"car1":car1_model,"car2":car2_model,"car3":car3_model,}

In [135]:
print(car_type)

{'car1': {'BMW': 1893}, 'car2': {'Audi': 2009}, 'car3': {'Ford': 2022}}

In [138]:
car_type['car1'] #access item in nest dic

{'BMW': 1893}

In [139]:
car_type['car1']['BMW']

1893

### Tuples

In [140]:
## create an empty tuples, they are not mutable

In [146]:
my_tup1 =('Nais','Rshi')

In [147]:
print(my_tup1)

('Nais', 'Rshi')

In [148]:
type(my_tup1)

tuple

we can replace whole tuple rather to change the element